<!-- <button class="close" mat-button (click)="close()"><img src="assets/images/onepass-images/icons/close.svg" /></button> -->
<h2 mat-dialog-title> </h2>
<form #form="ngForm" class="form edit-user-dialog" (ngSubmit)="save(form)">
  <div class="row">
    <div class="col-md-12">
      <div class="info-block">
        <div class="info-header">
          <img src="assets/images/onepass-images/icons/portals.svg" />
          <div>
            <h3>portals</h3>
            <p>portalsNotes</p>
          </div>
        </div>
        <div class="info-content dialog">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div>
                <div class="form-group mb-3 user-edit">
                  <mat-label>
                    Lookup Code<span class="mandatory">*</span>
                  </mat-label>
                  <input matInput maxlength="50" id="lookupCodeID" name="lookupCodeID" type="text" placeholder="Lookup Code" #lookupCodeID="ngModel"
                    [(ngModel)]="lookupCode" class="form-control" required />
                </div>
                <div class="form-group mb-3">
                  <mat-label>
                    Codes<span class="mandatory">*</span>
                  </mat-label>
                  <textarea matInput id="codesID" name="codesID" #codesID="ngModel"
                      [(ngModel)]="codes" required
                      class="form-control custom-textarea"></textarea>
              </div>
                <!-- <div class="form-group mb-3 user-edit">
                                    <mat-label class="">
                                        app.redirectUrl<span class="mandatory">*</span>
                                    </mat-label>
                                    <input matInput type="text" id="redirect-url" name="redirect-url" maxlength="80"
                                        class="form-control" [(ngModel)]="newPortal.redirectUrl" required />
                                </div>
                                <div class="form-group mb-3 user-edit">
                                    <mat-label class="">
                                        app.logoutUrl
                                    </mat-label>
                                    <input matInput type="text" class="form-control" id="logout-url" name="logout-url"
                                        class="form-control" [(ngModel)]="newPortal.logoutUrl" maxlength="80" />
                                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="actions-container">
        <button class="secondery-button" type="button" (click)="close()">Cancel</button>
        <div class="form-group login-submit-container mb-0">
          <button class="primary-button mx-0" type="submit">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
