<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>SQL Template</span>
  <div class="spacer"></div>
</div>

<div *ngIf="!showManage" class="content" role="main">
  <h2>SQL Generator</h2>
  <p>Select what do you want to build and generate your sql scripts?</p>

  <input type="hidden" #selection>

  <div class="card-container">

    <div class="card card-small" (click)="generateAddColumnScripts()" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Add Column</span>
    </div>

    <div class="card card-small" (click)="generateInsertDataScripts()" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Insert Data</span>
    </div>

    <div class="card card-small" (click)="generateLookupsValuesScripts()" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Lookups</span>
    </div>

    <div class="card card-small" (click)="generateTranslationsScripts()" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Translations</span>
    </div>

  </div>

  <h1 *ngIf="mySqlScript || oracleScript || sqlScript">The scripts result click on it to copy the code</h1>
  <!-- Terminal -->
  <div class="row">
    <div *ngIf="mySqlScript" class="terminal mySql col-md-4" (click)="copyScript(mySqlScript, 'MySql')">
      <pre>
      <code
        class="bgDark"
        [languages]="['sql']"
        [highlight]="mySqlScript"
        [lineNumbers]="true"
        >
        </code>
    </pre>
    </div>
    <hr />
    <hr />
    <hr />
    <div *ngIf="oracleScript" class="terminal oracle col-md-4" (click)="copyScript(oracleScript, 'Oracle')">
      <pre>
      <code
        class="bgDark"
        [languages]="['sql']"
        [highlight]="oracleScript"
        [lineNumbers]="true"
        >
        </code>
    </pre>
    </div>
    <hr />
    <hr />
    <hr />
    <div *ngIf="sqlScript" class="terminal sql col-md-4" (click)="copyScript(sqlScript, 'SQL')">
      <pre>
      <code
        class="bgDark"
        [languages]="['sql']"
        [highlight]="sqlScript"
        [lineNumbers]="true"
        >
        </code>
    </pre>
    </div>
  </div>
</div>
