<div class="tabs-content">
  <form #form="ngForm" class="form edit-user-dialog" (ngSubmit)="save(form)">
    <div class="row">
      <div class="col-md-8">
        <div class="info-block">
          <div class="info-header">
            <div>
              <h3>Generate Translations Scripts</h3>
            </div>
          </div>
          <div>
            <div class="info-content block-enabled add-provider">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <mat-label>
                      Translation Type<span class="mandatory">*</span>
                    </mat-label>
                    <input matInput maxlength="50" id="translationTypeID" name="translationTypeID" type="text"
                      placeholder="Translation Type" #translationTypeID="ngModel" [(ngModel)]="translationType" class="form-control"
                      required />
                  </div>
                  <div class="form-group mb-3">
                    <mat-label>
                      Translations Codes<span class="mandatory">*</span>
                    </mat-label>
                    <textarea matInput id="codesID" name="codesID" #codesID="ngModel" [(ngModel)]="codes" required
                      class="form-control custom-textarea"></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <mat-label>
                      Translations Value En<span class="mandatory">*</span>
                    </mat-label>
                    <textarea matInput id="En" name="En" #En="ngModel" [(ngModel)]="enValues" required
                      class="form-control custom-textarea"></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <mat-label>
                      Translations Value Ar<span class="mandatory">*</span>
                    </mat-label>
                    <textarea matInput id="Ar" name="Ar" #Ar="ngModel" [(ngModel)]="arValues" required
                      class="form-control custom-textarea"></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <mat-label>
                      Translations Value De<span class="mandatory">*</span>
                    </mat-label>
                    <textarea matInput id="De" name="De" #De="ngModel" [(ngModel)]="deValues" required
                      class="form-control custom-textarea"></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <mat-label>
                      Translations Value Fr<span class="mandatory">*</span>
                    </mat-label>
                    <textarea matInput id="Fr" name="Fr" #Fr="ngModel" [(ngModel)]="frValues" required
                      class="form-control custom-textarea"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="actions-container">
          <button class="secondery-button" type="button" (click)="close()">Cancel</button>
          <div class="form-group login-submit-container mb-0">
            <button class="primary-button mx-0" type="submit">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
