@import "variables";
@import '~highlight.js/styles/vs2015.css';
@import "~bootstrap/dist/css/bootstrap.css";

.edit-user-dialog {
  min-width: 900px;
  width: 100%;
}

.custom-textarea {
  height: 60px !important;
  width: 100%;
  resize: none;
}

.actions-container {
  display: flex;
  justify-content: flex-end;

  button {
    min-width: 85px;

    &.secondery-button {
      margin: 0 10px;
    }
  }
}

.info-block {
  border: 1px solid @border-color;
  border-radius: 8px;
  margin-bottom: 20px;
}

.info-header {
  padding: 1rem;
  border-bottom: 1px solid @border-color;
  display: flex;
  align-items: center;

  h3 {
    margin-bottom: 0;
    margin-top: 15%;
    font-family: Arial, sans-serif;

    span {
      color: var(--main-color);
    }
  }

  .info-content h3 {
    margin: 0;
    color: var(--dark-text);
    font-size: 0.781vw;
  }

  p {
    color: var(--light-text);
    margin: 0;
    font-size: 12px;
  }

  button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }
}

.info-content {
  padding: 2rem;

  &.block-enabled {
    .form-group {
      margin: 10px;
    }

    .form-group mat-label {
      min-width: 20%;
    }

    .form-group .mat-select,
    .form-group input {
      max-width: 70%;
      margin-left: auto;
      height: 35px;
      font-size: 0.729vw;
      margin-right: 0;

      &.w-100 {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .form-group {
    display: flex;
    align-items: center;

    .form-control {
      height: 35px;
      font-size: 0.729vw;
      padding: 0 5px !important;
    }
  }

  .form-group {
    position: relative;

    mat-label {
      min-width: 100px;
      margin: 0 10px;
      white-space: nowrap;
      font-size: 0.781vw;
      color: var(--dark-text);
    }
  }

  mat-select {
    border: 1px solid @border-color;
    border-radius: 5px;
    padding: 0 5px;
  }
}

.secondery-button {
  background: var(--button-secondery-color);
  color: var(--dark-text);
  border-radius: 30px;
  padding: 6px 20px;
  border: none;
  text-align: center;
  border: 1px solid var(--button-secondery-color);
  transition: 0.3s all;
  overflow: hidden;
  position: relative;

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }

  &:hover {
    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  &:hover {
    transform: translateY(-1px);
    // box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    opacity: 0.3;
    cursor: no-drop;
  }
}

.w-100 {
  width: 100%;
}

.login-submit-container {
  position: relative;

  &.disabled {
    input {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &.disabled {
    button {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .primary-button {
    padding: 9px;
  }

  .login-loader-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.primary-button {
  background: var(--button-color);
  color: #fff;
  border-radius: 30px;
  padding: 6px 20px;
  border: none;
  text-align: center;
  border: 1px solid var(--button-color);
  transition: 0.3s all;
  font-size: 13px;
  overflow: hidden;
  position: relative;

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }

  &.circle {
    border-radius: 50%;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: auto;
  }

  img {
    margin-right: 5px;
  }

  &:hover {
    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  img {
    margin-right: 5px;
  }

  &:hover {
    transform: translateY(-1px);
    // box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  }

  &.new-button {
    position: absolute;
    right: 2rem;
    top: -45px;

    img {
      margin-right: 3px;
    }
  }

  &:disabled {
    opacity: 0.3;
    cursor: no-drop;

    &:hover {
      transform: translateY(0);
    }
  }

  &.assign-btn {
    position: absolute;
    right: calc(2rem + 12vw);
    top: -45px;

    img {
      filter: brightness(0) invert(1);
      width: 15px;
    }
  }
}

input#lookupCodeID {
  margin: 0;
}

snack-bar-container.mat-snack-bar-container {
  background: #fff !important;
  right: 0 !important;
  left: auto !important;
  position: absolute !important;
  bottom: 0 !important;
  border-radius: 9px;
  padding: 20px 16px;
  border-left: 9px solid #59ad00;
  border-color: #59ad00;

  &.success {
    border-left: 9px solid #59ad00;
    border-color: #59ad00;

    simple-snack-bar {
      >span {
        position: relative;
        align-items: center;
        display: flex;

        &:before {
          content: "";
          background-image: url("./assets/succcess-icon.svg");
          width: 25px;
          height: 25px;
          background-size: 100%;
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
  }

  span {
    color: var(--default-dark-text) !important;
  }
}

.mandatory {
  color: #db1f1f;
  padding: 1%;
}
.hljs-ln-n:before {
  content: attr(data-line-number);
  margin-right: 25px !important;
}

.cdk-live-announcer-element.cdk-visually-hidden {
  visibility: hidden;
}
